.button {
  background-color: #434445;
  color: inherit;
  border-radius: 4px;
  border: 0;
  outline: none;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 16px;
}

.logo {
  display: block;
  width: 32px;
  transition: transform 150ms ease-in-out;
}

.kbd {
  background-color: #1d1e1f;
  padding: 4px 8px;
  border-radius: 4px;
  font-family: inherit;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.title {
  font-weight: 600;
  font-size: 17px;
  text-align: left;
}

.titleIsLong {
  font-size: 12px;
}
