$icon-font-path: '../../../node_modules/@blueprintjs/icons/resources/icons';

// Turn the blues into greens.
$green1: #0a6640;
$green2: #0d8050;
$green3: #0f9960;
$green4: #15b371;
$green5: #3dcc91;
$blue1: $green1;
$blue2: $green2;
$blue3: $green3;
$blue4: $green4;
$blue5: $green5;

@import 'node_modules/@blueprintjs/core/src/blueprint.scss';
@import 'node_modules/@blueprintjs/icons/src/blueprint-icons.scss';
