.Bluebar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #373737;
  box-shadow: 0 20px 70px rgba(0, 0, 0, 0.55);
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  cursor: copy;
  transform-origin: center top;
  outline: none;
  border: 0;
  border-bottom: 1px solid #606060;
}

.Bluebar__url {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Bluebar__protocol {
  color: #707070;
}

.Bluebar__protocolIcon {
  height: 14px;
  margin-right: 10px;
}

.Bluebar__hostname {
  font-weight: bold;
  color: #ffffff;
}

.Bluebar__urlPart {
  color: #707070;
}
