.Picker {
  position: absolute;
  background-color: #1a202c;
  box-shadow: 0 20px 70px rgba(0, 0, 0, 0.55);
  border-radius: 5px;
  overflow: hidden;
}

.Picker__inner {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
}

.Picker__browser-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  text-align: center;
  position: relative;
  cursor: default;
  color: #f7fafc;
  height: 100px;
  width: 100px;
}

.Picker__browser-btn:focus {
  outline: none;
}

.Picker__browser-img {
  display: block;
  width: 60%;
  margin-bottom: 10px;
  transition: transform 150ms ease-in-out;
}

.Picker__browser-btn:hover .Picker__browser-img {
  transform: scale(1.1);
}

.Picker__browser-btn:active .Picker__browser-img {
  transform: scale(1);
}

.Picker__browser-key {
  background-color: #2d3748;
  text-align: center;
  font-size: 11px;
  font-weight: 400;
  padding: 1px 5px;
  border-radius: 5px;
  text-transform: uppercase;
  position: absolute;
  bottom: 8px;
  color: #e2e8f0;
  opacity: 0.4;
}

.Picker__browser-btn:hover .Picker__browser-key {
  opacity: 1;
}
