:root {
  --primaryColour: #0080ff;
}

* {
  user-select: none !important;
  box-sizing: border-box;
}

body {
  background-color: transparent;
  margin: 0;
  overflow: hidden;
}

html,
body,
#picker-root {
  height: 100%;
}

.window {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}

.url {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--primaryColour);
  box-shadow: 0 20px 70px rgba(0, 0, 0, 0.55);
  color: white;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  cursor: copy;
}

.url > span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.url > span > span:not(.url__hostname) {
  opacity: 0.7;
}

.url__lockIcon {
  height: 14px;
  margin-right: 10px;
}

.url__hostname {
  font-weight: bold;
}

.pickerWindow {
  position: absolute;
  background-color: #232323;
  box-shadow: 0 20px 70px rgba(0, 0, 0, 0.55);
  border-radius: 5px;
  overflow: hidden;
}

.activity {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  transition: opacity 300ms linear;
  text-align: center;
  position: relative;
  cursor: default;
  color: white;
}

.activity:hover {
  background-color: var(--primaryColour);
}

.activity:focus {
  outline: none;
}

.activity--isFav {
  width: 200px;
  height: 200px;
}

.activity__img {
  display: block;
  width: 60%;
}

.key {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  padding: 1px;
}
