@import 'node_modules/pretty-checkbox/src/pretty-checkbox.scss';

* {
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  color: white;
}

#url {
  overflow: hidden;
  height: 3rem;
  padding: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1rem;
}

#browserList {
  margin: 0;
  padding: 0;
  user-select: none;

   > li {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-width: 0;
    outline: none;

    &.active {
      background-color: #126edb;
    }
  }
}

.browser-cell {
  display: flex;
  align-items: center;
}

.handle {
  display: inline-block;
  overflow: hidden;
  width: 16px;
  height: 16px;
  margin-right: 0.3em;
  padding: 0 4px;
  cursor: move;
  letter-spacing: 2px;
  color: #aaaaaa;
  font-size: 12px;
  font-weight: bold;
  line-height: 4px;

  &:after {
    content: '.. .. .. ..';
  }
}

.browserLogo {
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 1rem;
}

.browserName {
  margin-right: auto;
}

.browserKey {
  font-weight: bold;
}

#prefs {
  #browserList {
     > li {
      cursor: default;
    }
  }
}

.sortable-ghost {
  opacity: 0;
}

#picker {
  #browserList > li {
    cursor: pointer;
  }
}

.tab {
  display: none;
  padding: 1rem;

  &.is-active {
    display: block;
  }
}

.browsers-table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 0.5rem;
    text-align: left;
  }
}

.button {
  padding: 1rem;
  text-decoration: none;
  color: white;
  border: 0;
  background-color: #126edb;
  font-size: inherit;
}

.text-center {
  text-align: center;
}
