@import 'node_modules/pretty-checkbox/src/pretty-checkbox.scss';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  color: white;
}

#url {
  overflow: hidden;
  height: 3rem;
  padding: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1rem;
}

#browserList {
  margin: 0;
  padding: 0;
  user-select: none;

  .handle {
    display: inline-block;
    overflow: hidden;
    width: 16px;
    height: 20px;
    margin-top: -0.7em;
    margin-right: 0.3em;
    padding: 3px 4px;
    content: '....';
    cursor: move;
    vertical-align: middle;
    letter-spacing: 2px;
    color: #aaaaaa;
    font-size: 12px;
    font-weight: bold;
    line-height: 5px;

    &:after {
      content: '.. .. .. ..';
    }
  }

   > li {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-width: 0;
    outline: none;

    &.active {
      background-color: #126edb;
    }
  }
}

.browserLogo {
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 1rem;
}

.browserName {
  margin-right: auto;
}

.browserKey {
  font-weight: bold;
}

#titleBar {
  height: 2rem;
  -webkit-app-region: drag;
  text-align: center;
  line-height: 2rem;
}

#preferences {
  #navbar {
    display: flex;
    justify-content: space-around;
    height: 64px;
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-app-region: drag;
    border-bottom: 1px solid #111111;
    line-height: 64px;

    li {
      cursor: default;
      -webkit-app-region: no-drag;
      opacity: 0.5;

      &.is-active,
      &:hover {
        opacity: 1;
      }
    }
  }

  #browserList {
     > li {
      cursor: default;

      &.sortable-ghost {
        opacity: 0;
      }
    }
  }
}

#picker {
  #browserList > li {
    cursor: pointer;
  }
}

.tab-pane {
  display: none;

  &.is-active {
    display: block;
  }
}

.button {
  padding: 1rem;
  color: white;
  border: 0;
  background-color: #126edb;
  font-size: inherit;
}

.text-center {
  text-align: center;
}
