* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

button {
  display: inline-block;
  width: 32px;
  height: 32px;
  padding: 0;
  border-width: 0;
  outline: none;
  background-color: transparent;

  &:hover {
    background-color: white;
  }
}

button > img {
  display: block;
  width: 32px;
  height: 32px;
}
