* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  color: white;
  font-family: sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

#url {
  overflow: hidden;
  height: 3rem;
  padding: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1rem;
}

#browserList {
  margin: 0;
  padding: 0;

   > li {
    display: flex;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
    border-width: 0;
    outline: none;

    &.active {
      background-color: #126edb;
    }
  }
}

.browserLogo {
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 1rem;
}

.browserName {
  margin-right: auto;
}

.browserKey {
  font-weight: bold;
}
