* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  margin: 0;
  padding: 1px;
}

button {
  flex-grow: 1;
  padding: 0;
  border-width: 0;
  outline: none;
  background-color: white;
  font-size: 14px;

  &:hover {
    color: white;
    background-color: royalblue;
  }
}
