.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  background-color: rgba(26, 32, 44, 0.5);
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  will-change: opacity;
}

.App--visible {
  opacity: 1;
}