.app {
  color: #dfe0e0;
}

.titlebar {
  -webkit-app-region: drag;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
}

.browsers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  padding: 16px;
}

.browserIsFav {
  grid-column: 1 / span 2;
}

.main {
  background-color: #1d1e1f;
  height: 100vh;
}
