@tailwind base;
@tailwind components;
@tailwind utilities;

.slide-enter {
  transform: translate(100%, 0);
  opacity: 0;
}

.slide-enter-active {
  transform: translate(0, 0);
  transition: all 200ms ease;
  opacity: 1;
}

.slide-exit {
  transform: translate(0, 0);
  opacity: 1;
}

.slide-exit-active {
  transition: all 200ms ease;
  opacity: 0;
}
