on: [pull_request, push, workflow_dispatch]

jobs:
  build:
    strategy:
      matrix:
        os: [macos-10.15]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16.13.x
          cache: 'npm'
      - run: npm ci --audit false
      - run: npm run lint
      # - run: npx commitlint --from ${{ github.event.pull_request.base.sha }} --to ${{ github.event.pull_request.head.sha }} --verbose
      - run: npm run typecheck
      - run: npm run test
      - run: npm run package
